*{font-family: 'Muli', sans-serif;}

.navbar-dark bg-dark {
    margin-bottom: 5px;
}

.title,.table {font-family: 'Muli', sans-serif;}

.box{
    position: relative;
    width: 30rem;
    margin: auto;
}