*{font-family: 'Muli', sans-serif;}


.navbar-dark bg-dark {
    margin-bottom: 5px;
}

.title,.table {font-family: 'Muli', sans-serif;}

.form{
    display: flex;
}

.box-details{
    width: 30em;
    margin-left: 5em;
    padding-right: 1em;
}

.description-box{
    flex-grow: 1;
    padding-left: 1em
}

.title{
    position: relative;
    margin-left: 1em;
}

.col {
    min-width: 10em;
}

.col07 .col10 .col15{
    min-width: 1em;
}

.table td.row14 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10em;
}

.navbarbox{
    width: 135em;
}

#navbarid{
    margin-bottom: 5px;
}
