*{font-family: 'Muli', sans-serif;}

:root {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.75rem;
  }
  
  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://www.ucl.ac.uk/bartlett/heritage/sites/bartlett/files/styles/large_image/public/dsch-800x500_0_0.jpg?itok=vogaT-vn://www.ucl.ac.uk/bartlett/heritage/sites/bartlett/files/styles/non_responsive/public/dsch-800x500_0.jpg?itok=XCsS0-Lx');
    background-size: cover;
    background-position: center;
  }



  
  