<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
<div class ="box">
  <h2 class ="title">Új műtárgy</h2>
  <%= render 'form' %>
  <%= link_to 'Műtárgyak listája', artifacts_path, :class => "btn btn-light" %>
</div>
